services:
  frontend:
    image: ghcr.io/ccxlv/ccxlv.dev-frontend:${COMMIT_HASH:-latest}
    container_name: frontend
    build:
      context: ..
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  nginx:
    container_name: nginx
    build:
      context: ..
      dockerfile: docker/nginx.Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
