name: Deploy Frontend

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  SHORT_SHA: ${{ github.sha }}
  APP_DIR: ${{ secrets.APP_DIR }}
  VM_HOST: ${{ secrets.VM_HOST }}
  VM_USER: ${{ secrets.VM_USER }}
  VM_SSH_KEY: ${{ secrets.VM_SSH_KEY }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Verify commit is on main
        run: |
          git fetch origin main --depth=1
          if ! git branch --remotes --contains "$GITHUB_SHA" | grep -q "origin/main"; then
            echo "âŒ Commit for this tag is not on main, skipping."
            exit 1
          fi

      - name: Set SHORT_SHA
        run: echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_ENV

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      - name: Build Frontend Docker image
        run: |
          cd docker
          export COMMIT_HASH=${{ env.SHORT_SHA }}

          docker compose -f docker-compose.yml build frontend --push

      - name: Deploy on VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ env.VM_HOST }}
          username: ${{ env.VM_USER }}
          key: ${{ env.VM_SSH_KEY }}
          script: |
            cd ${{ env.APP_DIR }}

            git fetch --tags https://${{ secrets.PAT }}@github.com/ccxlv/ccxlv.dev.git
            git stash push -m "Auto stash scripts changes" scripts/
            git checkout ${{ github.sha }} -- scripts/
            
            TAGS=($(git tag -l "v*" --sort=-v:refname))
            RECENT_TAG=${TAGS[0]}
            PREV_TAG=${TAGS[1]}

            sudo chmod +x scripts/deploy-frontend.sh
            sudo chmod +x scripts/update-nginx.sh

            sudo ./scripts/deploy-frontend.sh \
              ${{ env.SHORT_SHA }} \
              ${{ github.actor }} \
              ${{ secrets.PAT }} \
              $PREV_TAG \
              $RECENT_TAG